
<!-- [ngStyle]="{'background-color':color2}" -->
<div class="container-fluid" style="padding: 10px">

    <div class="row mr-btm-10">
        <div class="col-md-6">
            <label>Heading</label>
            <input type="text" class="form-control input-sm" [(ngModel)]="title" placeholder="Title" />
        </div>
    </div>
    <div class="row mr-btm-10">
        <div class="col-md-12">
            <label>Description</label>
            <textarea class="form-control input-sm" [(ngModel)]="description" rows="3" placeholder="Description"
                style="resize: none"></textarea>
        </div>
    </div>

    <div class="row mr-btm-10">
        <div class="col-md-5">
            <label>Role</label>
            <ng-multiselect-dropdown [placeholder]="'Select'" [data]="roleList" [(ngModel)]="selectedRoleList"
                [settings]="multiSelectropdownSettings" [disabled]="isOR">
            </ng-multiselect-dropdown>
        </div>
    <!-- </div>
    <div class="row mr-btm-10"> -->
        <div class="col-md-2 text-center">
            <label style="display: block;color:transparent">OR</label>
            <label><input type="checkbox" [(ngModel)]="isOR" /> OR </label>
        </div>
    <!-- </div>

    <div class="row mr-btm-10"> -->
        <div class="col-md-5">
            <label>Employee</label>
            <ng-multiselect-dropdown [placeholder]="'Select'" [data]="employeeList" [(ngModel)]="selectedEmployeeList"
                [settings]="multiSelectropdownSettings" [disabled]="!isOR">
            </ng-multiselect-dropdown>
        </div>
    </div>

    <div class="row mr-btm-10">
        <div class="col-md-4"></div>
        <div class="col-md-4 text-center">
            <div style="border:1px solid #003977;padding: 10px;cursor: pointer;">
                <label>
                    <span class="fa fa-upload" style="font-size: 100px"></span>
                </label>
                <input type="file" class="form-control input-sm" id="notificationIcon" accept="image/jpg,image/jpeg,image/png"
                    (change)="changeVideoListener($event)" />
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>

    <div class="row">
        <div class="col-md-12 text-right">
            <button [ngStyle]="{'background-color':button}" class="btn btn-sm text-white" (click)="submitNotification()">Submit
                Notification</button>
        </div>
    </div>
</div>