
<div class="container-fluid" style="padding: 10px">
    <div class="row">
        <div class="col-md-12">
            <label>! All * fields are mandatory.</label>
        </div>
    </div>

    <mat-horizontal-stepper linear #stepper>
        <mat-step>
            <ng-template matStepLabel>General Type</ng-template>
            <div class="row">
                <div class="col-md-6 form-group">
                    <label>Training Name <span>*</span> </label>
                    <input type="text" class="form-control input-sm" [(ngModel)]="trainingName" [disabled]="trainingDisabled" />
                </div>
                <div class="col-md-6 form-group">
                    <label>Sub Training Name <span>*</span> </label>
                    <input type="text" class="form-control input-sm" [(ngModel)]="subTrainingName" [disabled]="trainingDisabled" />
                </div>
               
                <div class="col-md-6 form-group">
                    <label>User Role <span>*</span> </label>
                    <ng-multiselect-dropdown [placeholder]="'Select'" [data]="roleList" [(ngModel)]="selectedRoleList"
                        [settings]="multiSelectropdownSettings" [disabled]="trainingDisabled">
                    </ng-multiselect-dropdown>
                    
                </div>
                
                <div class="col-md-6 form-group">
                    <label>Language <span>*</span> </label>
                    <select class="form-control input-sm" [(ngModel)]="language" [disabled]="trainingDisabled">
                        <option value="" [disabled]="true">Select</option>
                        <option value="{{l.id}}" *ngFor="let l of languageList">{{l.language}}</option>
                    </select>
                </div>
            </div>
            
        </mat-step>
        <mat-step>
            <ng-template matStepLabel>Training Type</ng-template>
            <div class="row">
                <div class="col-md-2 form-group">
                    <label>Choose Training Type <span>*</span> </label> <br>
                    <label><input type="checkbox" (click)="checkedTrainingType()" [(ngModel)]="isPre"
                            [disabled]="trainingTypeDisabled" /> Pre </label> &nbsp;&nbsp;
                    <label><input type="checkbox" (click)="checkedTrainingType()" [(ngModel)]="isPost"
                            [disabled]="trainingTypeDisabled" /> Post </label>
                </div>
                <div class="col-md-2 form-group">
                    <label>Min Pre Question <span *ngIf="isPre">*</span> </label>
                    <input type="number" class="form-control input-sm" [(ngModel)]="minPreQuestion"
                        [disabled]="!isPre || trainingDisabled" />
                </div>
                <div class="col-md-2 form-group">
                    <label>Min Post Question <span *ngIf="isPre">*</span> </label>
                    <input type="number" class="form-control input-sm" [(ngModel)]="minPostQuestion"
                        [disabled]="!isPost || trainingDisabled" />
                </div>
                <div class="col-md-2 form-group">
                    <label>Pre Pass Percentage <span *ngIf="isPost">*</span> </label>
                    <input type="text" OnlyNumber="true" LengthValidater="3" (input)="checkPercentage('pre')" class="form-control input-sm"
                        [(ngModel)]="prePassPercentage" [disabled]="!isPre || trainingDisabled" />
                </div>
                <div class="col-md-2 form-group">
                    <label>Post Pass Percentage <span *ngIf="isPost">*</span> </label>
                    <input type="text" OnlyNumber="true" LengthValidater="3" (input)="checkPercentage('pre')" class="form-control input-sm"
                        [(ngModel)]="postPassPercentage" [disabled]="!isPost || trainingDisabled" />
                </div>
                <div class="col-md-2 form-group">
                    <label>Question Type <span>*</span> </label>
                    <select class="form-control input-sm questionTypeCls" [(ngModel)]="questionType" (change)="selectQuestionType()">
                        <option value="" [disabled]="true">Select</option>
                        <option value="{{qt.id}}" *ngFor="let qt of questionTypeList;let i = index">{{qt.desc}}</option>
                    </select>
                </div>
            </div>
            <div *ngIf="preTrainingViewDiv">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <label>Pre Question : {{preAddedQuestionList.length+1}}</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 form-group">
                        <label>Question <span>*</span> </label>
                        <textarea placeholder="enter question" [disabled]="questionType == '' " rows="5" [(ngModel)]="question"
                            class="form-control input-sm"></textarea>
                    </div>
                </div>
        
                <div class="row" style="margin-top: 5px">
                    <div class="col-md-12 text-center">
                        <label *ngFor="let ol of noOfOptionList" style="margin-right: 10px">
                            <input type="radio" name="oo" value="ol.id" (click)="selectOptionSize(ol.id)" />{{ol.id}}
                        </label>
                    </div>
                </div>
        
                <div class="row">
                    <div class="col-md-6" *ngFor="let os of optionShowList;let i = index" style="margin-top: 5px">
                        <div class="input-group">
                            <label class="input-group-addon" *ngIf="questionType=='4'"><input type="checkbox"
                                    id="optionAnswer_{{i+1}}" /></label>
                            <label class="input-group-addon" *ngIf="questionType!='4'"><input type="radio"
                                    id="optionAnswer_{{i+1}}" /></label>
                            <input type="text" *ngIf="questionType!='6'" class="form-control input-sm optionValue"
                                placeholder="option {{os.id}}" id="option_{{i+1}}" />
                            <input type="file" *ngIf="questionType=='6'" class="form-control input-sm optionImage"
                                placeholder="option {{os.id}}" id="option_{{i+1}}" accept=".jpg,.jpeg"
                                (change)="changeListener($event,i+1)" />
                        </div>
                    </div>
                </div>
        
                <div class="row" *ngIf="questionType != '' " style="margin-top: 10px">
                    <div class="col-md-12 text-right">
                        <button [ngStyle]="{'background-color':button}" class="btn btn-sm text-white" (click)="addPreSameType()"
                            style="margin-right: 10px">Add Same Type Question</button>
                        <button [ngStyle]="{'background-color':button}" class="btn btn-sm text-white" (click)="changeQuestionType()"
                            style="margin-right: 10px">Change Question Type</button>
                        <button [ngStyle]="{'background-color':button}" class="btn btn-sm text-white"
                            (click)="submitPreTraining()">Submit</button>
                    </div>
                   
                </div>
            </div>

            <div *ngIf="postTrainingViewDiv">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <label>Post Question : {{postAddedQuestionList.length+1}}</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 form-group">
                        <label>Question <span>*</span> </label>
                        <textarea placeholder="enter question" [disabled]="questionType == '' " rows="5" [(ngModel)]="question"
                            class="form-control input-sm"></textarea>
                    </div>
                </div>
        
                <div class="row" style="margin-top: 5px">
                    <div class="col-md-12 text-center">
                        <label *ngFor="let ol of noOfOptionList" style="margin-right: 10px">
                            <input type="radio" name="oo"
                                value="ol.id" (click)="selectOptionSize(ol.id)" />{{ol.id}}
                            </label>
                    </div>
                </div>
        
                <div class="row">
                    <div class="col-md-6" *ngFor="let os of optionShowList;let i = index" style="margin-top: 5px">
                        <div class="input-group">
                            <label class="input-group-addon" *ngIf="questionType=='4'"><input type="checkbox"
                                    id="optionAnswer_{{i+1}}" /></label>
                            <label class="input-group-addon" *ngIf="questionType!='4'"><input type="radio"
                                    id="optionAnswer_{{i+1}}" /></label>
                            <input type="text" *ngIf="os.type!='Image'" class="form-control input-sm optionValue"
                                placeholder="option {{os.id}}" id="option_{{i+1}}" />
                            <input type="file" *ngIf="os.type=='Image'" class="form-control input-sm optionImage"
                                placeholder="option {{os.id}}" id="option_{{i+1}}" accept=".jpg,.jpeg" />
                        </div>
                    </div>
                </div>
        
                <div class="row" *ngIf="questionType != '' " style="margin-top: 10px">
                    <div class="col-md-12 text-right">
                        <button [ngStyle]="{'background-color':button}" class="btn btn-sm text-white" (click)="addPostSameType()"
                            style="margin-right: 10px">Add Same Type Question</button>
                        <button [ngStyle]="{'background-color':button}" class="btn btn-sm text-white" (click)="changeQuestionType()"
                            style="margin-right: 10px">Change Question Type</button>
                        <button [ngStyle]="{'background-color':button}" class="btn btn-sm text-white"
                            (click)="submitPostTraining()">Submit</button>
                    </div>
                    
                </div>
            </div>

            
        </mat-step>
        <mat-step>
            <ng-template matStepLabel>Training Media Type</ng-template>
            <div class="col-md-2 form-group">
                <label>Choose Media Type <span>*</span> </label>
                <select class="form-control input-sm" [(ngModel)]="mediaType" (change)="selectMediaType()">
                    <option value="" [disabled]="true">Select</option>
                    <option value="{{l.typeId}}" *ngFor="let l of mediaTypeList">{{l.modiaType}}</option>
                </select>
            </div>
            <div *ngIf="videoTrainingViewDiv">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <label>Select {{mediaTypeName}} count ::</label>&nbsp;
                        <label *ngFor="let tv of trainingVideoList" style="margin-right: 10px">
                            <input type="radio" name="tv" (click)="selectNoOfTrainingVideo(tv.id)" />{{tv.id}}
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 text-center" *ngFor="let tvs of trainingVideoSize; let i = index">
                        <div style="border:1px solid #003977;padding: 10px;cursor: pointer;">
                            <label
                                *ngIf="mediaType == '1' || mediaType == '2' || mediaType == '4' || mediaType == '5' || mediaType == '6' ">
                                <span class="fa fa-upload" style="font-size: 100px"></span>
                            </label>
                            <label *ngIf="mediaType == '3' || mediaType == '7' ">
                                <span class="fa fa-edit" style="font-size: 100px"></span>
                            </label>
                            <input *ngIf="mediaType == '1' " type="file" class="form-control input-sm" accept="video/*"
                                id="video_{{i+1}}" (change)="changeVideoListener($event,i+1)" />
                            <input *ngIf="mediaType == '2' " type="file" class="form-control input-sm" accept=".ppt,.pptx"
                                id="video_{{i+1}}" (change)="changeVideoListener($event,i+1)" />
                            <input *ngIf="mediaType == '4' " type="file" class="form-control input-sm" accept=".pdf" id="video_{{i+1}}"
                                (change)="changeVideoListener($event,i+1)" />
                            <input *ngIf="mediaType == '5' " type="file" class="form-control input-sm" accept=".doc,.docx"
                                id="video_{{i+1}}" (change)="changeVideoListener($event,i+1)" />
                            <input *ngIf="mediaType == '6' " type="file" class="form-control input-sm" accept="image/gif"
                                id="video_{{i+1}}" (change)="changeVideoListener($event,i+1)" />
                            <input *ngIf="mediaType == '3' || mediaType == '7' " type="text" class="form-control input-sm"
                                id="video_{{i+1}}" placeholder="enter url {{i+1}}" />
                            
                            <label *ngIf="mediaType == '1'"><input type="checkbox" id="videoForword_{{i+1}}"/> Is Forword</label>
                        </div>
                    </div>
                </div>
        
                <div class="row" *ngIf="trainingVideoSize.length !=0 ">
                    <div class="col-md-12 text-right">
                        <button [ngStyle]="{'background-color':button}" class="btn btn-sm text-white"
                            (click)="submitVideo()">Submit</button>
                    </div>
                </div>
            </div>
            
        </mat-step>
    </mat-horizontal-stepper>
</div>

<!-- <div class="container-fluid" style="padding: 10px"> -->
    <!-- <div class="row">
        <div class="col-md-12">
            <label>! All * fields are mandatory.</label>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2 form-group">
            <label>Training Name <span>*</span> </label>
            <input type="text" class="form-control input-sm" [(ngModel)]="trainingName" [disabled]="trainingDisabled" />
        </div>
        <div class="col-md-2 form-group">
            <label>Sub Training Name <span>*</span> </label>
            <input type="text" class="form-control input-sm" [(ngModel)]="subTrainingName" [disabled]="trainingDisabled" />
        </div>

        <div class="col-md-2 form-group">
            <label>User Role <span>*</span> </label>
            <ng-multiselect-dropdown [placeholder]="'Select'" [data]="roleList" [(ngModel)]="selectedRoleList"
                [settings]="multiSelectropdownSettings" [disabled]="trainingDisabled">
            </ng-multiselect-dropdown>
            
        </div>
        
        <div class="col-md-2 form-group">
            <label>Language <span>*</span> </label>
            <select class="form-control input-sm" [(ngModel)]="language" [disabled]="trainingDisabled">
                <option value="" [disabled]="true">Select</option>
                <option value="{{l.id}}" *ngFor="let l of languageList">{{l.language}}</option>
            </select>
        </div>

        <div class="col-md-2 form-group">
            <label>Choose Media type </label>
            <select class="form-control input-sm" [(ngModel)]="mediaType" (change)="selectMediaType()"
                [disabled]="trainingDisabled">
                <option value="" [disabled]="true">Select</option>
                <option value="{{l.typeId}}" *ngFor="let l of mediaTypeList">{{l.modiaType}}</option>
            </select>
        </div>
    </div> -->

    <!-- <div class="row">
        <div class="col-md-2 form-group">
            <label>Choose training type</label> <br>
            <label><input type="checkbox" (click)="checkedTrainingType()" [(ngModel)]="isPre"
                    [disabled]="trainingTypeDisabled" /> Pre </label> &nbsp;&nbsp;
            <label><input type="checkbox" (click)="checkedTrainingType()" [(ngModel)]="isPost"
                    [disabled]="trainingTypeDisabled" /> Post </label>
        </div>
        <div class="col-md-2 form-group">
            <label>Min Pre Question</label>
            <input type="number" class="form-control input-sm" [(ngModel)]="minPreQuestion"
                [disabled]="!isPre || trainingDisabled" />
        </div>
        <div class="col-md-2 form-group">
            <label>Min Post Question</label>
            <input type="number" class="form-control input-sm" [(ngModel)]="minPostQuestion"
                [disabled]="!isPost || trainingDisabled" />
        </div>
        <div class="col-md-2 form-group">
            <label>Pre Pass Percentage</label>
            <input type="text" OnlyNumber="true" LengthValidater="3" (input)="checkPercentage('pre')" class="form-control input-sm"
                [(ngModel)]="prePassPercentage" [disabled]="!isPre || trainingDisabled" />
        </div>
        <div class="col-md-2 form-group">
            <label>Post Pass Percentage</label>
            <input type="text" OnlyNumber="true" LengthValidater="3" (input)="checkPercentage('pre')" class="form-control input-sm"
                [(ngModel)]="postPassPercentage" [disabled]="!isPost || trainingDisabled" />
        </div>
        <div class="col-md-2 form-group">
            <label>Question Type</label>
            <select class="form-control input-sm questionTypeCls" [(ngModel)]="questionType" (change)="selectQuestionType()">
                <option value="" [disabled]="true">Select</option>
                <option value="{{qt.id}}" *ngFor="let qt of questionTypeList;let i = index">{{qt.desc}}</option>
            </select>
        </div>

    </div> -->

    <!-- <div *ngIf="preTrainingViewDiv">
        <div class="row">
            <div class="col-md-12 text-center">
                <label>Pre Question : {{preAddedQuestionList.length+1}}</label>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 form-group">
                <label>Question</label>
                <textarea placeholder="enter question" [disabled]="questionType == '' " rows="5" [(ngModel)]="question"
                    class="form-control input-sm"></textarea>
            </div>
        </div>

        <div class="row" style="margin-top: 5px">
            <div class="col-md-12 text-center">
                <label *ngFor="let ol of noOfOptionList" style="margin-right: 10px"><input type="radio" name="oo"
                        value="ol.id" (click)="selectOptionSize(ol.id)" />{{ol.id}}</label>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6" *ngFor="let os of optionShowList;let i = index" style="margin-top: 5px">
                <div class="input-group">
                    <label class="input-group-addon" *ngIf="questionType=='4'"><input type="checkbox"
                            id="optionAnswer_{{i+1}}" /></label>
                    <label class="input-group-addon" *ngIf="questionType!='4'"><input type="radio"
                            id="optionAnswer_{{i+1}}" /></label>
                    <input type="text" *ngIf="questionType!='6'" class="form-control input-sm optionValue"
                        placeholder="option {{os.id}}" id="option_{{i+1}}" />
                    <input type="file" *ngIf="questionType=='6'" class="form-control input-sm optionImage"
                        placeholder="option {{os.id}}" id="option_{{i+1}}" accept=".jpg,.jpeg"
                        (change)="changeListener($event,i+1)" />
                </div>
            </div>
        </div>

        <div class="row" *ngIf="questionType != '' " style="margin-top: 10px">
            <div class="col-md-12 text-right">
                <button [ngStyle]="{'background-color':button}" class="btn btn-sm text-white" (click)="addPreSameType()"
                    style="margin-right: 10px">Add Same Type Question</button>
                <button [ngStyle]="{'background-color':button}" class="btn btn-sm text-white" (click)="changeQuestionType()"
                    style="margin-right: 10px">Change Question Type</button>
                <button [ngStyle]="{'background-color':button}" class="btn btn-sm text-white"
                    (click)="submitPreTraining()">Submit</button>
            </div>
           
        </div>
    </div> -->

    <!-- <div *ngIf="videoTrainingViewDiv">
        <div class="row">
            <div class="col-md-12 text-center">
                <label>Select video count ::</label>&nbsp;
                <label *ngFor="let tv of trainingVideoList" style="margin-right: 10px">
                    <input type="radio" name="tv" (click)="selectNoOfTrainingVideo(tv.id)" />{{tv.id}}
                </label>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 text-center" *ngFor="let tvs of trainingVideoSize; let i = index">
                <div style="border:1px solid #003977;padding: 10px;cursor: pointer;">
                    <label
                        *ngIf="mediaType == '1' || mediaType == '2' || mediaType == '4' || mediaType == '5' || mediaType == '6' ">
                        <span class="fa fa-upload" style="font-size: 100px"></span>
                    </label>
                    <label *ngIf="mediaType == '3' || mediaType == '7' ">
                        <span class="fa fa-edit" style="font-size: 100px"></span>
                    </label>
                    <input *ngIf="mediaType == '1' " type="file" class="form-control input-sm" accept="video/*"
                        id="video_{{i+1}}" (change)="changeVideoListener($event,i+1)" />
                    <input *ngIf="mediaType == '2' " type="file" class="form-control input-sm" accept=".ppt,.pptx"
                        id="video_{{i+1}}" (change)="changeVideoListener($event,i+1)" />
                    <input *ngIf="mediaType == '4' " type="file" class="form-control input-sm" accept=".pdf" id="video_{{i+1}}"
                        (change)="changeVideoListener($event,i+1)" />
                    <input *ngIf="mediaType == '5' " type="file" class="form-control input-sm" accept=".doc,.docx"
                        id="video_{{i+1}}" (change)="changeVideoListener($event,i+1)" />
                    <input *ngIf="mediaType == '6' " type="file" class="form-control input-sm" accept="image/gif"
                        id="video_{{i+1}}" (change)="changeVideoListener($event,i+1)" />
                    <input *ngIf="mediaType == '3' || mediaType == '7' " type="text" class="form-control input-sm"
                        id="video_{{i+1}}" placeholder="enter url {{i+1}}" />
                    
                    <label *ngIf="mediaType == '1'"><input type="checkbox" id="videoForword_{{i+1}}"/> Is Forword</label>
                </div>
            </div>
        </div>

        <div class="row" *ngIf="trainingVideoSize.length !=0 ">
            <div class="col-md-12 text-right">
                <button [ngStyle]="{'background-color':button}" class="btn btn-sm text-white"
                    (click)="submitVideo()">Submit</button>
            </div>
        </div>
    </div> -->

    <!-- <div *ngIf="postTrainingViewDiv">
        <div class="row">
            <div class="col-md-12 text-center">
                <label>Post Question : {{postAddedQuestionList.length+1}}</label>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 form-group">
                <label>Question</label>
                <textarea placeholder="enter question" [disabled]="questionType == '' " rows="5" [(ngModel)]="question"
                    class="form-control input-sm"></textarea>
            </div>
        </div>

        <div class="row" style="margin-top: 5px">
            <div class="col-md-12 text-center">
                <label *ngFor="let ol of noOfOptionList" style="margin-right: 10px"><input type="radio" name="oo"
                        value="ol.id" (click)="selectOptionSize(ol.id)" />{{ol.id}}</label>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6" *ngFor="let os of optionShowList;let i = index" style="margin-top: 5px">
                <div class="input-group">
                    <label class="input-group-addon" *ngIf="questionType=='4'"><input type="checkbox"
                            id="optionAnswer_{{i+1}}" /></label>
                    <label class="input-group-addon" *ngIf="questionType!='4'"><input type="radio"
                            id="optionAnswer_{{i+1}}" /></label>
                    <input type="text" *ngIf="os.type!='Image'" class="form-control input-sm optionValue"
                        placeholder="option {{os.id}}" id="option_{{i+1}}" />
                    <input type="file" *ngIf="os.type=='Image'" class="form-control input-sm optionImage"
                        placeholder="option {{os.id}}" id="option_{{i+1}}" accept=".jpg,.jpeg" />
                </div>
            </div>
        </div>

        <div class="row" *ngIf="questionType != '' " style="margin-top: 10px">
            <div class="col-md-12 text-right">
                <button [ngStyle]="{'background-color':button}" class="btn btn-sm text-white" (click)="addPostSameType()"
                    style="margin-right: 10px">Add Same Type Question</button>
                <button [ngStyle]="{'background-color':button}" class="btn btn-sm text-white" (click)="changeQuestionType()"
                    style="margin-right: 10px">Change Question Type</button>
                <button [ngStyle]="{'background-color':button}" class="btn btn-sm text-white"
                    (click)="submitPostTraining()">Submit</button>
            </div>
            
        </div>
    </div> -->

<!-- </div> -->