
<div class="container-fluid" style="padding: 10px">
    <mat-accordion class="example-headers-align">
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Filter
                </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="row" *ngIf="otherRole == 'Admin' ">
                <div class="col-md-2 form-group">
                    <label>Start Date <span title="Reset start date" (click)="startDate = ''"><i class="fa fa-refresh"
                                aria-hidden="true"></i></span> </label>
                    <input type="date" class="form-control input-sm" [(ngModel)]="startDate">
                </div>
                <div class="col-md-2 form-group">
                    <label>End Date <span title="Reset end date" (click)="endDate = ''"><i class="fa fa-refresh"
                                aria-hidden="true"></i></span> </label>
                    <input type="date" class="form-control input-sm" [(ngModel)]="endDate">
                </div>
        
                <div class="col-md-2 form-group">
                    <label>Training Name</label>
                    <ng-multiselect-dropdown [placeholder]="'Select'" [data]="trainingNameList"
                        [(ngModel)]="selectedTrainingNameList" [settings]="multiSelectropdownSettings"
                        (onSelect)="onSelectTrainingName($event)" (onSelectAll)="onSelectAllTrainingName($event)"
                        (onDeSelect)="onDeSelectTrainingName($event)" (onDeSelectAll)="onDeSelectAllTrainingName($event)">
                    </ng-multiselect-dropdown>
                </div>
                <div class="col-md-2 form-group">
                    <label>Sub Training Name</label>
                    <ng-multiselect-dropdown [placeholder]="'Select'" [data]="subTrainingNameList"
                        [(ngModel)]="selectedSubTrainingNameList" [settings]="multiSelectropdownSettings"
                        (onSelect)="onSelectSubTrainingName($event)" (onSelectAll)="onSelectAllSubTrainingName($event)"
                        (onDeSelect)="onDeSelectSubTrainingName($event)" (onDeSelectAll)="onDeSelectAllSubTrainingName($event)">
                    </ng-multiselect-dropdown>
                </div>
                <div class="col-md-2 form-group">
                    <label>User Role</label>
                    <ng-multiselect-dropdown [placeholder]="'Select'" [data]="roleList" [(ngModel)]="selectedRoleList"
                        [settings]="multiSelectropdownSettings">
                    </ng-multiselect-dropdown>
        
                </div>
                <div class="col-md-2 form-group">
                    <label>Ticket Status</label>
                    <ng-multiselect-dropdown [placeholder]="'Select'" [data]="ticketStatusList"
                        [(ngModel)]="selectedTicketStatusList" [settings]="multiSelectropdownSettings">
                    </ng-multiselect-dropdown>
        
                </div>
        
                <div class="col-md-2 form-group">
                    <label>Ticket Number</label>
                    <input type="text" class="form-control input-sm" [(ngModel)]="ticketNumber">
                </div>
                <div class="col-md-4 form-group" style="padding-top: 27px;">
                    <button [ngStyle]="{'background-color':button}" class="btn btn-sm text-white" (click)="applyFilter()">Apply
                        Filter</button> &nbsp;&nbsp;
                    <button [ngStyle]="{'background-color':button}" class="btn btn-sm text-white"
                        (click)="exportData()">Export</button>
                </div>
            </div>
        
            <div class="row" style="margin-top:10px" *ngIf="otherRole == 'Other' ">
                <div class="col-md-4">
                    <button class="btn btn-sm text-white" [ngStyle]="{'background-color':button}" (click)="applyFilter()">Apply
                        Filter</button> &nbsp;&nbsp;
                    <button class="btn btn-sm text-white" [ngStyle]="{'background-color':button}"
                        (click)="exportData()">Export</button>
                </div>
            </div>
            
        </mat-expansion-panel>
    </mat-accordion>
</div>

<!-- <div class="container-fluid" style="padding: 10px">
    <div class="row" *ngIf="otherRole == 'Admin' ">
        <div class="col-md-2 form-group">
            <label>Start Date <span title="Reset start date" (click)="startDate = ''"><i class="fa fa-refresh"
                        aria-hidden="true"></i></span> </label>
            <input type="date" class="form-control input-sm" [(ngModel)]="startDate">
        </div>
        <div class="col-md-2 form-group">
            <label>End Date <span title="Reset end date" (click)="endDate = ''"><i class="fa fa-refresh"
                        aria-hidden="true"></i></span> </label>
            <input type="date" class="form-control input-sm" [(ngModel)]="endDate">
        </div>

        <div class="col-md-2 form-group">
            <label>Training Name</label>
            <ng-multiselect-dropdown [placeholder]="'Select'" [data]="trainingNameList"
                [(ngModel)]="selectedTrainingNameList" [settings]="multiSelectropdownSettings"
                (onSelect)="onSelectTrainingName($event)" (onSelectAll)="onSelectAllTrainingName($event)"
                (onDeSelect)="onDeSelectTrainingName($event)" (onDeSelectAll)="onDeSelectAllTrainingName($event)">
            </ng-multiselect-dropdown>
        </div>
        <div class="col-md-2 form-group">
            <label>Sub Training Name</label>
            <ng-multiselect-dropdown [placeholder]="'Select'" [data]="subTrainingNameList"
                [(ngModel)]="selectedSubTrainingNameList" [settings]="multiSelectropdownSettings"
                (onSelect)="onSelectSubTrainingName($event)" (onSelectAll)="onSelectAllSubTrainingName($event)"
                (onDeSelect)="onDeSelectSubTrainingName($event)" (onDeSelectAll)="onDeSelectAllSubTrainingName($event)">
            </ng-multiselect-dropdown>
        </div>
        <div class="col-md-2 form-group">
            <label>User Role</label>
            <ng-multiselect-dropdown [placeholder]="'Select'" [data]="roleList" [(ngModel)]="selectedRoleList"
                [settings]="multiSelectropdownSettings">
            </ng-multiselect-dropdown>

        </div>
        <div class="col-md-2 form-group">
            <label>Ticket Status</label>
            <ng-multiselect-dropdown [placeholder]="'Select'" [data]="ticketStatusList"
                [(ngModel)]="selectedTicketStatusList" [settings]="multiSelectropdownSettings">
            </ng-multiselect-dropdown>

        </div>

        <div class="col-md-2 form-group">
            <label>Ticket Number</label>
            <input type="text" class="form-control input-sm" [(ngModel)]="ticketNumber">
        </div>
        <div class="col-md-4 form-group" style="padding-top: 27px;">
            <button [ngStyle]="{'background-color':button}" class="btn btn-sm text-white" (click)="applyFilter()">Apply
                Filter</button> &nbsp;&nbsp;
            <button [ngStyle]="{'background-color':button}" class="btn btn-sm text-white"
                (click)="exportData()">Export</button>
        </div>
    </div>

    <div class="row" style="margin-top:10px" *ngIf="otherRole == 'Other' ">
        <div class="col-md-4">
            <button class="btn btn-sm text-white" [ngStyle]="{'background-color':button}" (click)="applyFilter()">Apply
                Filter</button> &nbsp;&nbsp;
            <button class="btn btn-sm text-white" [ngStyle]="{'background-color':button}"
                (click)="exportData()">Export</button>
        </div>
    </div>
</div> -->

<div class="row" style="margin-top: 10px">
    <div class="col-md-12" style="overflow: auto">
        <ng2-smart-table [settings]="settings" [source]="applyFilterData"></ng2-smart-table>
    </div>
</div>